{{ define "views/notes.html" }}

{{ template "layouts/header.html" .}}

<header class="masthead text-white text-center">
  <section class="features-icons bg-light text-center">
    <div class="container">
      <div class="row">

        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-0 mb-lg-3">
            
            <!-- Read a Note Form -->
            <h3 class="text-dark">Read a Note</h3>

            <!-- Note Select -->
            <form id="readNoteForm" name="readNoteForm" action="/notes" method="GET">
              <div class="form-group">
                <label for="selectNote" class="text-dark">Select a Note.</label>

              <div class="form-control">
                <select id="selectNote" name="selectNote" required>
                  <option class="noteName" disabled selected>[SELECT A NOTE]</option>
                  <option id="showAll" class="noteName" value="all">Show All Notes</option>
                  {{ range .notes }}
                <option class="noteName" value="{{ .ID }}">{{ .ID }}. {{ .Name }}</option>
                {{ end }}
              </select>
            </div>

            <!-- Confirm -->
            <button type="submit" class="btn btn-primary mb-2 text-center">Show</button>

            </div>
            </form>
            </div>
        </div>

        <!-- Edit a Note Form -->
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-0 mb-lg-3">

            <h3 class="text-dark">Edit a Note</h3>

            <!-- Note Select -->
            <form id="editNoteForm" name="editNoteForm" action="/notes/put" method="POST">
              <div class="form-group text-lg-left">
                <label for="selectNote" class="text-dark">Select a Note.</label>
              <div class="form-control">
                <select id="selectNote" name="selectNote" required>
                  <option class="noteName" disabled selected>[SELECT A NOTE]</option>
                  {{ range .notes }}
                <option class="noteName" value="{{ .ID }}">{{ .ID }}. {{ .Name }}</option>
                {{ end }}
              </select>
              </div>

              <!-- Edit Note Properties -->
                <label for="editProperties" class="text-dark">Edit the Note Properties.</label>

                <!-- Edit Note Name -->
              <div class="form-control">
                <label class="text-dark">Name</label>
                <input id="inputName" name="inputName">
              </div>

              <!-- Edit Note Text -->
                <div class="form-control-lg">
                <label class="text-dark">Text</label>
                <textarea id="inputText" name="inputText" rows="3"></textarea>
              </div>

              <!-- Edit Note Status -->
                <div class="form-control">
                <label for="selectStatus" class="text-dark">Status</label>
                <select id="selectStatus" name="selectStatus">
                  {{ range .statuses }}
                  <option class="status">{{ . }}</option>
                  {{ end }}
                  </select>
              </div>

              <!-- Edit Note Delegation -->
              <div class="form-control">
                <label class="text-dark">Delegation</label>
                <select id="inputDelegation" name="inputDelegation">
                  <option class="userName" disabled selected>[SELECT A USER]</option>
                  {{ range .users }}
                  <option class="userName" value="{{ .ID }}" >{{ .ID }}. {{ .Name }}</option>
                  {{ end }}
                  </select>
              </div>

              <!-- Edit Note Shared Users -->
              <div class="form-control">
                <label class="text-dark">Shared Users</label>
                <select id="inputSharedUsers" name="inputSharedUsers" multiple>
                  {{ range .users }}
                  <option class="userName" value="{{ .ID }}">{{ .ID }}. {{ .Name }}</option>
                  {{ end }}
                </select>
              </div>

              <!-- Delete Note -->
                <div class="form-control">
                <label class="text-danger">[DELETE NOTE]</label>
                <input type="checkbox" name="inputDelete" id="inputDelete" onsubmit="return confirm('Are you sure you want to delete this note?');">
              </div>

              <!-- Confirm -->
                <button type="submit" class="btn btn-primary mb-2 text-center">Confirm Changes</button>
                </div>
              </form>
              </div>

            </div>

        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-0 mb-lg-3">

            <!-- Create a Note Form -->
            <h3 class="text-dark">Create a Note</h3>

            <form id="createNoteForm" name="createNoteForm" action="/notes" method="POST">
              <div class="form-group text-lg-left">
                <label for="editProperties" class="text-dark">Create the Note Properties.</label>

              <div class="form-control">
                <label class="text-dark">Name</label>
                <input id="inputName" name="inputName" required>
              </div>

                <div class="form-control-lg">
                <label class="text-dark">Text</label>
                <textarea id="inputText" name="inputText" rows="3" required></textarea>
              </div>

                <div class="form-control">
                <label for="selectStatus" class="text-dark">Status</label>
                <select id="selectStatus" name="selectStatus">
                  {{ range .statuses }}
                  <option class="status">{{ . }}</option>
                  {{ end }}
                  </select>
              </div>

              <div class="form-control">
                <label class="text-dark">Delegation</label>
                <select id="inputDelegation" name="inputDelegation" required>
                  <option class="userName" value="" disabled selected>[SELECT A USER]</option>
                  {{ range .users }}
                  <option class="userName" value="{{ .ID }}">{{ .ID }}. {{ .Name }}</option>
                  {{ end }}
                  </select>
              </div>

              <div class="form-control">
                <label class="text-dark">Shared Users</label>
                <select id="inputSharedUsers" name="inputSharedUsers" multiple required>
                  <option class="userName" value="" disabled selected>[SELECT USERS]</option>
                  {{ range .users }}
                  <option class="userName" value="{{ .ID }}">{{ .ID }}. {{ .Name }}</option>
                  {{ end }}
                </select>

                <!-- Confirm -->
                <button type="submit" class="btn btn-primary mb-2 text-center">Submit</button>
                </div>

                </div>
            </form>
            </div>
        </div>
      </div>

        <!-- Results Output -->
        <!-- Note: Make the output of each query appear in this area -->
        <div class="container">
        <h3 class="text-dark">Results</h3>
          <div>
            <textarea class="rounded-0  text-lg-left w-50 p-3" id="results" name="results" rows="10 " readonly>{{ .results }}</textarea>
          </div>
      </div>
    </div>
  </section>
  </header>
<!--Embed the footer.html template at this location-->
{{ template "layouts/footer.html" .}}
{{ end }}