{{ define "views/users.html" }}
<!--Embed the header.html template at this location-->
{{ template "layouts/header.html" .}}

<header class="masthead text-white text-center">
  <section class="features-icons bg-light text-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-0 mb-lg-3">

            <!-- Read a User Form -->
            <h3 class="text-dark">Read a User</h3>

            <!-- User Select -->
            <form id="readUserForm" name="readUserForm" action="/Users" method="GET">
              <div class="form-group">
                <label for="selectUser" class="text-dark">Select a User.</label>

              <div class="form-control">
                <select id="selectUser" name="selectUser">
                  {{ range .users }}
                <option class="UserName" action="/Users" method="GET">{{ .ID }}. {{ .Name }}</option>
                {{ end }}
              </select>
            </div>
            </div>
            </form>

            </div>
            </div>

        <!-- Edit a User Form -->
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-0 mb-lg-3">
            
            <h3 class="text-dark">Edit a User</h3>
            
            <!-- User Select -->
            <form id="editUserForm" name="editUserForm" action="/Users" method="PUT">
              <div class="form-group">
                <label for="selectUser" class="text-dark">Select a User.</label>
              <div class="form-control">
                <select id="selectUser" name="selectUser">
                  {{ range .users }}
                <option class="UserName">{{ .ID }}. {{ .Name }}</option>
                {{ end }}
              </select>
            </div>

              <!-- Edit User Properties -->
              <div class="form-group">
                <label for="editProperties" class="text-dark">Edit the User Properties.</label>
                
              <!-- Edit User Name -->
              <div class="form-control">
                <label class="text-dark">Name</label>
                <input id="inputName" name="inputName">
              </div>

              <!-- Edit User Read Setting -->
                <div class="form-control">
                <label class="text-dark">Read Setting</label>
                <input type="checkbox" id="inputReadSetting" name="inputReadSetting">
              </div>
            </div>

            <!-- Edit User Write Setting -->
            <div class="form-control">
            <label class="text-dark" for="inputWriteSetting">Write Setting</label>
            <input type="checkbox" id="inputWriteSetting" name="inputWriteSetting">
          </div>

          <!-- Delete User -->
                <div class="form-control">
                <label class="text-danger">[DELETE USER]</label>
                <input type="checkbox" name="delete" id="delete" action="/Users" method="DELETE" onsubmit="return confirm('Are you sure you want to delete this user?');">
              </div>

              <!-- Confirm -->
                <button type="submit" class="btn btn-primary mb-2">Confirm Changes</button>

                </div>
              </form>
                </div>
            </div>

            <!-- Create a User Form -->
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-0 mb-lg-3">
            
            <h3 class="text-dark">Create a User</h3>

            <form id="createUserForm" name="createUserForm" action="/Users" method="PUSH">
              <div class="form-group">
                <label for="editProperties" class="text-dark">Create the User Properties.</label>

                <!-- Set User Name -->
              <div class="form-control">
                <label class="text-dark">Name</label>
                <input id="inputName" name="inputName" required>
              </div>

              <!-- Set User Read Setting -->
              <div class="form-control">
                <label class="text-dark">Read Setting</label>
                <input type="checkbox" id="inputReadSetting" name="inputReadSetting">
              </div>

            <!-- Set User Write Setting -->
            <div class="form-control">
            <label class="text-dark" for="inputWriteSetting">Write Setting</label>
            <input type="checkbox" id="inputWriteSetting" name="inputWriteSetting">
          </div>
        </div>

            </form>
            </div>
        </div>
      </div>

      <!-- Results Output -->
      <!-- User: Make the output of each query appear in this area -->
      <div class="container">
        <h3 class="text-dark text-lg-left">Results</h3>
          <div>
            <textarea class="rounded-0" id="resultsTextArea" rows="10" readonly>{{ .UsersResults }}</textarea>
          </div>
      </div>

    </div>
  </section>
  </header>
<!--Embed the footer.html template at this location-->
{{ template "layouts/footer.html" .}}
{{ end }}