{{ define "homepage/features.html" }}

<!-- Icons Grid -->
<a name="features">
<section class="features-icons bg-light text-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="icon-screen-desktop m-auto text-primary"></i>
            </div>
            <!-- Find a Note Form -->
            <h3>Find a Note</h3>
            <form>
            <div class="form-group">
              <label for="findPatternSelect">Choose a text pattern to provide.</label>
            <select class="form-control">
              <option>1. A sentence with a given prefix and/or suffix</option>
              <option>2. A phone number with a given area code and optionally a consecutive sequence of numbers that are part
                of that number</option>
              <option>3. An email address on a domain that is only partially provided</option>
              <option>4. Text that contains at least three of the following case-insensitive words: meeting, minutes, agenda,
                action, attendees, apologies</option>
              <option>5. A word in all capitals of three characters or more</option>
            </div>
            <div class="form-group">
              <label for="findPatternInput">Enter your text.</label>
              <div class="form-group mx-sm-3 mb-2">
                <label for="findPatternInput" class="sr-only">Text</label>
                <input type="text" class="form-control" id="findPatternInput" placeholder="Text">
              </div>
              <button type="submit" class="btn btn-primary mb-2">Search</button>
              </div>
            </form>

            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="icon-layers m-auto text-primary"></i>
            </div>
            <!-- Analyse a Note Form -->
            <h3>Analyse a Note</h3>
            <form>
              <div class="form-group">
                <label for="analyseNoteSelect">Select a Note.</label>
                <!-- Note: Include a list of notes in the select options -->
              <select class="form-control">
                <option></option>
              </div>
            <div class="form-group">
              <label for="analysePatternSelect">Choose a text pattern to provide.</label>
            <select class="form-control">
              <option>1. A sentence with a given prefix and/or suffix</option>
              <option>2. A phone number with a given area code and optionally a consecutive sequence of numbers that are part
                of that number</option>
              <option>3. An email address on a domain that is only partially provided</option>
              <option>4. Text that contains at least three of the following case-insensitive words: meeting, minutes, agenda,
                action, attendees, apologies</option>
              <option>5. A word in all capitals of three characters or more</option>
            </div>
            <div class="form-group">
              <label for="analysePatternInput">Enter your text.</label>
              <div class="form-group mx-sm-3 mb-2">
                <label for="analysePatternInput" class="sr-only">Text</label>
                <input type="text" class="form-control" id="analysePatternInput" placeholder="Text">
              </div>
              <button type="submit" class="btn btn-primary mb-2">Search</button>
              </div>
            </form>
        </div>
        </div>
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="icon-check m-auto text-primary"></i>
            </div>
            <!-- Read/Edit a Note Form -->
            <h3>Read/Edit a Note</h3>
            <form>
              <div class="form-group">
                <label for="readNoteSelect">Select a Note.</label>
              <select class="form-control">
                <option></option>
              </div>
              <div class="form-group">
                <label for="editPropertySelect">Select a Property to Edit.</label>
              <select class="form-control">
                <option>Name</option>
                <option>Text</option>
                <option>Completion Date</option>
                <option>Status</option>
                <option>Delegation</option>
                <option>Shared Users</option>
                <!-- Note: Disable text input when [DELETE NOTE] is selected -->
                <option>[DELETE NOTE]</option>
              </div>
              <div class="form-group">
                <label for="editPropertyInput">Enter new property.</label>
                <!-- Note: Make the input type differ depending on the chosen property -->
                <div class="form-group mx-sm-3 mb-2">
                  <label for="editPropertyInput" class="sr-only">Text</label>
                  <input type="text" class="form-control" id="editPropertyInput" placeholder="Text">
                </div>
                <button type="submit" class="btn btn-primary mb-2">Confirm Change</button>
                </div>
            </form>
            </div>
        </div>
      </div>
      <div class="container">
        <!-- Results Output -->
        <!-- Note: Make the output of each query appear in this area -->
        <h3>Results</h3>
        <form>
          <div class="form-group">
            <textarea class="form-control rounded-0" id="resultsTextArea" rows="10"></textarea>
          </div>
        </form>
      </div>
    </div>
  </section>

{{ end }}